/* src/components/Sidebar.css */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    position: fixed;
    height: 100%;
    padding-top: 20px;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    align-items: center;
}

nav ul li {
    margin: 10px 0;}

    

nav ul li a{
    text-decoration: none;
    color: rgb(76, 75, 75);
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* a> b {
align-items: center;
justify-content: center;
} */
nav ul li a.active {
    background-color:  #4391ED1A;
    color: black;
}

.logout {
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.logout a{
    color: #dc3545;
    text-decoration: none;
}

img {
    padding-right: 10px;
    padding-top: 10px;
}