.board-container {
    padding: 0 10px;
    position: relative;
    height: calc(100vh - 145px); /* Adjust as needed for the overall height */
}

.board {
    display: flex;
    overflow-x: auto;
    height: 100%;
}

.board-text{
    font-size: 1.6rem;
    font-weight: bolder;
    padding-left: 30px;
}

.column {
    flex: 0 0 30%;
    margin: 5px 30px;
    background-color:  #3a7dc91a;
    border-radius: 15px;
    padding: 20px;
    min-width: 340px;
    display: flex;
    flex-direction: column;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column-sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-task-button {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */
}

.collapse-icon {
    cursor: pointer;
}

.cards {
    margin-top: 10px;
    overflow-y: auto;
    max-height: 70vh; /* Adjust this value as needed for the overall height of the column */
}
